<div class="card mb-3">
  <h2 class="card-header h4">
    Relationship #<%= relationship.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Your giftgivers</dt>
      <!-- Display your_giftgivers start -->
      <dd>
        <% if @relationship.recipient.present? %>
          <%= link_to relationship.recipient, relationship.recipient %>
        <% end %>
      </dd>
      <!-- Display your_giftgivers end -->

      <dt>Your recipients</dt>
      <!-- Display your_recipients start -->
      <dd>
        <% if @relationship.giftgiver.present? %>
          <%= link_to relationship.giftgiver, relationship.giftgiver %>
        <% end %>
      </dd>
      <!-- Display your_recipients end -->

      <dt>Relationshiptype</dt>
      <!-- Display relationshiptype start -->
      <dd><%= relationship.relationshiptype %></dd>
      <!-- Display relationshiptype end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back relationship, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link relationship start -->
      <div class="col">
        <%= link_to edit_relationship_url(relationship), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link relationship end -->

      <!-- Delete link relationship start -->
      <div class="col">
        <%= link_to relationship, method: :delete, data: { confirm: "Do you really want to delete this relationship?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link relationship end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(relationship.updated_at) %> ago
  </div>
</div>
