<% was_validated = relationship.errors.any? %>

<%= form_with(model: relationship, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for your_giftgivers start -->
  <div class="form-group">
    <% your_giftgiver_class = "form-control" %>
    <% your_giftgiver_was_invalid = relationship.errors.include?(:your_giftgiver) %>

    <% if was_validated %>
      <% if your_giftgiver_was_invalid %>
        <% your_giftgiver_class << " is-invalid" %>
      <% else %>
        <% your_giftgiver_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :your_giftgivers %>
    <!-- Input for your_giftgivers start -->
    <%= f.collection_select :your_giftgivers, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for your_giftgivers end -->
    <% if your_giftgiver_was_invalid %>
      <% relationship.errors.full_messages_for(:your_giftgiver).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for your_giftgivers end -->
  <!-- Label and input for your_recipients start -->
  <div class="form-group">
    <% your_recipient_class = "form-control" %>
    <% your_recipient_was_invalid = relationship.errors.include?(:your_recipient) %>

    <% if was_validated %>
      <% if your_recipient_was_invalid %>
        <% your_recipient_class << " is-invalid" %>
      <% else %>
        <% your_recipient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :your_recipients %>
    <!-- Input for your_recipients start -->
    <%= f.collection_select :your_recipients, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for your_recipients end -->
    <% if your_recipient_was_invalid %>
      <% relationship.errors.full_messages_for(:your_recipient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for your_recipients end -->
  <!-- Label and input for relationshiptype start -->
  <div class="form-group">
    <% relationshiptype_class = "form-control" %>
    <% relationshiptype_was_invalid = relationship.errors.include?(:relationshiptype) %>

    <% if was_validated %>
      <% if relationshiptype_was_invalid %>
        <% relationshiptype_class << " is-invalid" %>
      <% else %>
        <% relationshiptype_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :relationshiptype %>
    <!-- Input for relationshiptype start -->
    <%= f.text_field :relationshiptype, class: relationshiptype_class, placeholder: "Enter relationshiptype" %>
    <!-- Input for relationshiptype end -->
    <% if relationshiptype_was_invalid %>
      <% relationship.errors.full_messages_for(:relationshiptype).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for relationshiptype end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
