<%= form_with(model: @relationship, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :your_giftgivers %>

    <%= f.text_field :your_giftgivers, class: "form-control" %>
  </div>

  <%= f.hidden_field :your_recipients, value: @user.id %>

  <div class="form-group">
    <%= f.label :relationshiptype %>

    <%= f.text_field :relationshiptype, class: "form-control" %>
  </div>

  <%= f.submit "Create relationship", class: "btn btn-block btn-outline-secondary" %>
<% end %>
