<% was_validated = wishlist.errors.any? %>

<%= form_with(model: wishlist, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% owner_class = "form-control" %>
    <% owner_was_invalid = wishlist.errors.include?(:owner) %>

    <% if was_validated %>
      <% if owner_was_invalid %>
        <% owner_class << " is-invalid" %>
      <% else %>
        <% owner_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :owner %>
    <%= f.text_field :owner, class: owner_class, placeholder: "Enter owner" %>
    <% if owner_was_invalid %>
      <% wishlist.errors.full_messages_for(:owner).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
